[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ceng/Desktop/linux-6.11.1.tar.xz]
row=3
col=0

[/home/ceng/Desktop/linux-6.11.1]
row=4
col=0

[/home/ceng/Desktop/hw]
row=6
col=0

[2023-11-30-10-07-10-00]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ceng]
row=2
col=0

